upstream apiurl {
    server ${API_URL};
}

server {
    auth_basic  "Access restricted!";
    auth_basic_user_file /home/ec2-user/.pwd; 

    listen      ${NGINX_PORT};
    listen [::]:${NGINX_PORT};

    location /graphql {
        proxy_pass http://apiurl;
    }

    location / {
        root /usr/share/nginx/html;
        index index.html index.htm;
        try_files $uri $uri/ /index.html =404;
    }   
}