upstream apiurl {
    server ${API_URL};
}

server {
    listen      ${NGINX_PORT};
    listen [::]:${NGINX_PORT};

    location /graphql {
        proxy_pass http://apiurl;
    }

    location / {
        auth_basic  "Access restricted!";
        auth_basic_user_file conf/htpasswd;

        root /usr/share/nginx/html;
        index index.html index.htm;
        try_files $uri $uri/ /index.html =404;
    }   
}